*~
results
src/*.pyc
html_things/jackalope_svg1Inter1.html
html_things/jackalope_svg2Inter1.html
html_things/jackalope_svg3Inter1.html
html_things/jackalope_svg1Inter2.html
html_things/jackalope_svg2Inter2.html
html_things/jackalope_svg3Inter2.html
html_things/kikelet_font_kit/
