.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 2px 2px 3px #0d010d;
  -moz-box-shadow: 2px 2px 3px #0d010d;
  box-shadow: 2px 2px 3px #0d010d;
  font-family: Georgia;
  color: #ffffff;
  font-size: 21px;
  background: #5f6163;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a7b3ba;
  text-decoration: none;
}

.lilbtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 13px;
  background: #009c37;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.lilbtn:hover {
  background: #acfc3c;
  text-decoration: none;
}

.myTable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.myTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.myTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.myTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.myTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.myTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.myTable tr:hover td{
	background-color:#ffffff;
		

}
.myTable td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.myTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.myTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.myTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.myTable tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #5fbf00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #5fbf00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #5fbf00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#5fbf00");	background: -o-linear-gradient(top,#5fbf00,5fbf00);

	background-color:#5fbf00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.myTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #5fbf00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #5fbf00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #5fbf00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#5fbf00");	background: -o-linear-gradient(top,#5fbf00,5fbf00);

	background-color:#5fbf00;
}
.myTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.myTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

header{
	background-color : black;
}

h1{
	font-family: kikeletregular;
	color: white;
	font-size: 50px;
	margin: 20px;
}

h2{
	color: white;
	font-size: 30px;
	margin: 20px;
	margin-left: 50px;
}

@font-face {
    font-family: 'kikeletregular';
    src: url('kikelet-webfont.eot');
    src: url('kikelet-webfont.eot?#iefix') format('embedded-opentype'),
         url('kikelet-webfont.woff2') format('woff2'),
         url('kikelet-webfont.woff') format('woff'),
         url('kikelet-webfont.ttf') format('truetype'),
         url('kikelet-webfont.svg#kikeletregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bloc_page {
	border: 2px solid black;
	border-radius: 5px;
	padding: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.listeGene{
	display: inline-block;
	text-align: center;
	margin-left: 90px;
	color: white;
}

.listeGene ul
{
	list-style-type: none;
}

.listeGene li
{
	display: inline-block;
	margin-right: 15px;
}
.listeGene a
{

	font-size: 1.3em;
	color: white;
	padding-bottom: 3px;
	text-decoration: none;

}
.listeGene a:hover
{
	color: white;
	border-bottom: 3px solid white;
}

#logo, header h1

{
	display: inline-block;
	margin: 20px;
	margin-bottom: 0px;
}
/* Navigation */


nav

{
	display: inline-block;
	text-align: center;
	margin-left: 90px;
	background-color: white;
	border: 1px solid white;
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	padding-right: 20px;
	
}

nav ul
{
	list-style-type: none;
}

nav li
{
	display: inline-block;
	margin-right: 15px;
}
nav a
{

	font-size: 1.3em;
	color: black;
	text-decoration: none;

}
nav a:hover
{
	color: black;
	border-bottom: 3px solid black;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
overflow: scroll;
}

.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 50%;
vertical-align: middle;
overflow: scroll;
}

#exons_box:hover{
  opacity:0.5;
}

#exons_edge:hover{
	color: black;
}

#legend {
	height: 100px;
	width:20%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 20px;
	margin: 10px;
	margin-top: 50px;
	border-radius: 25px;
    background: #8AC007;
    display: inline-block;
    vertical-align: middle;
}

#selector{
	display: inline-block;
	height: 100px;
	width:29%;
	padding: 20px;
	margin: 10px;
	margin-top: 50px;
	border-radius: 25px;
	background: #8AC007;
	vertical-align: middle;
}

#info_box{
height: 100px;
	width:40%;
	padding: 20px;
	margin: 10px;
	margin-top: 50px;
	border-radius: 25px;
    background: #8AC007;
    display: inline-block;
    vertical-align: middle;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
}
